---
import Layout from '../layouts/Layout.astro';
import SpritesBar from '../components/SpriteBar.jsx';
import WelcomeMessage from '../components/WelcomeMessage.jsx';
import "../styles/global.css";
---

<Layout>
  <main class="flex flex-col gap-20 items-center mt-10">
    <SpritesBar client:load direction="left" />
    <WelcomeMessage client:only="react" />

    <a 
        href="/todos-pokemones" 
        class="mt-8 inline-block px-8 py-4 bg-yellow-500 hover:bg-yellow-600 text-white font-bold rounded-full shadow-lg hover:scale-105 transition-all duration-200 text-lg"
      >
        Ver todos los Pokémon
      </a>
    <SpritesBar client:load direction="right" />
  </main>
</Layout>
