---
import Layout from '../layouts/Layout.astro';
import FiltrosCartas from '../components/FiltrosCartas.svelte?client';
import SpritesBar from '../components/SpriteBar';
import { getCollection } from 'astro:content';

const todasLasCartas = await getCollection('pokemonCards');
---

<Layout>
  <div class="relative min-h-screen flex flex-col">
    <div class="fixed top-0 left-0 w-full z-50">
      <SpritesBar client:load direction="left" />
    </div>

    <main class="pt-20 pb-20 flex-1">
      <FiltrosCartas client:load cartas={todasLasCartas} />
    </main>

    <div class="fixed bottom-0 left-0 w-full z-50">
      <SpritesBar client:load direction="right" />
    </div>
  </div>
</Layout>