---
import Layout from '../layouts/Layout.astro';
import FiltrosCartas from '../components/FiltrosCartas.svelte?client';
import { getCollection } from 'astro:content';
import "../styles/global.css";

const todasLasCartas = await getCollection('pokemonCards');
---

<Layout>
  <div class="relative min-h-screen flex flex-col">
    <main class="flex flex-wrap items-start gap-4 justify-center">

      <FiltrosCartas client:load cartas={todasLasCartas} />
    </main>

  </div>
</Layout>