---
import Layout from '../layouts/Layout.astro';
import FiltrosCartas from '../components/FiltrosCartas.svelte';
import HeaderClient from '../components/HeaderClient.tsx'
import { getCollection } from 'astro:content';
import "../styles/global.css";

const todasLasCartas = await getCollection('pokemonCards');
---

<Layout>
  <div class="relative min-h-screen flex flex-col">
    <HeaderClient client:only="react" />
    <main class="pt-24 flex flex-wrap items-start gap-4 justify-center">
      <div>
        <FiltrosCartas client:load cartas={todasLasCartas} />
      </div>
    </main>
  </div>
</Layout>
