---
import { getCollection } from 'astro:content';
import Card  from '../../components/Card.tsx';
import SpritesBar from '../../components/SpriteBar';
import Layout from '../../layouts/Layout.astro';
import "../../styles/global.css";

export async function getStaticPaths() {
  const cards = await getCollection('pokemonCards');
  return cards.map((pokemonCards: any ) => ({
    params: { id: pokemonCards.id },
    props: { pokemonCards }
  }));
}

const { pokemonCards } = Astro.props;
---

<Layout>
  <div class="relative min-h-screen flex flex-col">

    <div class="fixed top-0 left-0 w-full z-50">
      <SpritesBar client:load direction="left" />
    </div>

    <div class="pt-20 pb-20 flex-1 flex flex-col items-center justify-center">
      <!-- Botón de volver arriba a la izquierda -->
      <button
        onclick="window.location.href='/todos-pokemones'"
        class="fixed top-24 left-4 px-6 py-2 bg-yellow-400 hover:bg-yellow-500 text-white font-bold rounded-full shadow transition-all duration-200 cursor-pointer"
        style="z-index:60"
      >
        ← Volver
      </button>
      <Card client:only="react" card={pokemonCards} />
    </div>

    <div class="fixed bottom-0 left-0 w-full z-50">
      <SpritesBar client:load direction="right" />
    </div>
  </div>
</Layout>